.profile-banner {
  background-color: #dcdcdc;
  border: 2px solid #000;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  position: relative;
  height: 170px;
  box-sizing: border-box;
  overflow: hidden;
}

.profile-banner::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 150%;
  background-color: #000;
  top: -25%;
  left: 65%;
  transform: rotate(45deg);
  z-index: 1;
}

.profile-left {
  display: flex;
  align-items: center;
  z-index: 2;
}

.profile-icon i {
  font-size: 100px;
  color: black;
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
}

.profile-details {
  margin-left: 25px;
}

.profile-details p {
  font-size: 1.1rem;
  margin: 0;
  color: black;
}

.profile-details h2 {
  font-size: 1.7rem;
  margin: 5px 0;
  color: black;
}

.profile-details span {
  font-size: 1rem;
  color: black;
}

.profile-right {
  text-align: left;
  z-index: 2;
}

.profile-right p {
  margin: 8px 0;
  font-size: 1rem;
  color: black;
}

.profile-right i {
  margin-right: 8px;
  color: black;
}
